@model ISSDemoApp.Web.Models.IssLocationViewModel

<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="https://cdn.vox-cdn.com/thumbor/A0ZJfcWW6Z_gVoTGHUmwgZ_Z348=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/19617733/lego_iss_international_space_station_007_32.jpg" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Position</h5>
		<p class="card-text">Longitute: @Model.Longitude</p>
		<p class="card-text">Latitude: @Model.Latitude</p>
		<a href="#" class="btn btn-primary">@Model.LastCreatedSnapshotId</a>
	</div>
</div>